/******* LANDING PAGE STYLES *******/

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

/* come back to header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px 0px 21px;
    background-color: #EBF4FF;
}

button {
    font-family: "Open Sans", sans-serif;
    width: 164px;
    height: 44px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
}

/* come back to header */

.nav-logo {
    width: 106px;
    height: auto;
}

.nav-button {
    color: #FFFFFF; 
    background-color: #2979EC;
}

/* come back to header */