/******* LANDING PAGE STYLES *******/

/* RESET */

* {
    box-sizing: border-box;
  }

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 21px;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding-top: 78px;
    margin: 0px;
    font-weight: 400;
    width: 258px;
}

h1 span {
    font-weight: 700;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight: 400;
    padding-top: 4px;
    margin: 0px;
}

button {
    font-family: "Open Sans", sans-serif;
    width: 164px;
    height: 44px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
}

/* come back to header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px 0px 21px;
    background-color: #EBF4FF;
}

/* come back to header */

.nav-logo {
    width: 106px;
    height: auto;
}

.nav-button {
    color: #FFFFFF; 
    background-color: #2979EC;
}

/* come back to header */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}