/******* LANDING PAGE STYLES *******/

/* RESET */

* {
    box-sizing: border-box;
  }

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* typography */

h1 {
    font-size: 50px;
    padding-top: 78px;
    margin: 0px;
    font-weight: 400;
    line-height: 52px;
}

h1 span {
    font-weight: 700;
}

h2 {
    font-size: 42px;
    margin: 0px;
    font-weight: 400;
    color: white;
    line-height: 45px;
}

h2 span {
    font-weight: 700;
}

h3 {
    font-size: 40px;
    margin: 0px;
    font-weight: 400;
    line-height: 45px;
}

h3 span {
    font-weight: 700;
}

p {
    font-size: 20px;
    font-weight: 400;
    padding: 24px 0px;
    margin: 0px;
}

button {
    font-family: "Open Sans", sans-serif;
    width: 164px;
    height: 44px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

/* navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px 0px 21px;
    background-color: #EBF4FF;
}

.nav-logo {
    width: 106px;
}

.nav-button {
    color: #FFFFFF; 
    background-color: #2979EC;
}

/* hero section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBF4FF;
    padding: 0px 21px 92px 21px;
}

.tools {
    padding: 25px 21px;
}

.marketing-tools {
    height: 236px;
}

.team {
    padding: 25px 21px 62px 21px;
}

.team-paragraphs {
    padding-top: 24px;
    padding-bottom: 0px;
}

.team-image {
    padding: 54px 0px 24px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0A459E;
}

.footer {
    padding: 101px 23px 99px 22px;
}

.footer-button {
    color: #0A459E;
    background-color: #FFBE3C;
    margin-top: 41px;
}